* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

/*Home Page Styling*/

.records {
  font-family: DELIRIUM NCV;
  text-align: center;
  margin-right: 60px;
  margin-top: 40px;
  font-size: 70px;
  color: rgb(255, 255, 255);
  padding-bottom: 0px;
}

h3 {
  font-family: Star Renegades;
  text-align: center;
  padding-top: 20px;
  color: rgb(255, 255, 255);
}

.head {
  height: 80px;
}

#welcome-message {
  font-family: Star Renegades;
  text-align: center;
  color: rgb(253, 254, 255);
}

.navbar {
  text-align: center;
  font-family: Star Renegades;
  max-width: 700px;
  margin: 0 auto;
}

body {
  background-image: url(../images/NightSky3.jpg);
  background-size: cover;
}

.navbar-brand {
  color: rgb(255, 255, 255);
}

.nav-link {
  font-family: Star Renegades;
  text-align: center;
  color: rgb(255, 255, 255);
}

/*Contact Page Styling*/

.navbar-toggler-icon {
  filter: invert(1);
}

.contacth1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

.container {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 20px;
}

#message {
  margin-top: 5px;
  padding: 10px;
  width: 200px;
  height: 100px;
}
#email {
  padding: 10px;
}

#name {
  padding: 10px;
}

form {
  max-width: 600px;
  margin: 40px auto; /* Center form with spacing */
  background-color: rgba(86, 4, 237, 0.437); /* Dark background for the form */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(86, 4, 237, 0.647); /* Add a soft shadow around the form */
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
}

.form-label {
  display: block; /* Ensures the label is on a new line */
  font-weight: bold;
  margin-top: 10px;
}
