* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

/*Home Page Styling*/

.records {
  text-align: center;
  margin-top: 40px;
  font-size: 70px;
  color: rgb(255, 255, 255);
}

h3 {
  text-align: center;
  padding-top: 20px;
  color: rgb(255, 255, 255);
}

.head {
  height: 80px;
}

#welcome-message {
  text-align: center;
  color: rgb(253, 254, 255);
}

.navbar {
  max-width: 700px;
  margin: auto;
}

body {
  background-image: url(../images/nightsky.jpg);
  background-size: cover;
}

.navbar-brand {
  color: rgb(255, 255, 255);
}

/*Contact Page Styling*/

.contacth1 {
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 20px;
}
